<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="xxx">
  
  <xacro:include filename="$(find xxx_description)/urdf/dynamics/wheel.xacro"/>
  <xacro:include filename="$(find xxx_description)/urdf/dynamics/base.xacro"/>
  <xacro:include filename="$(find xxx_description)/urdf/dynamics/castor.xacro"/>
  <xacro:macro name="physical_robot" params="namespace">
    <xacro:base namespace="${namespace}"/>
    <xacro:wheel_set namespace="${namespace}"/>
    <xacro:castor_set namespace="${namespace}"/>
  </xacro:macro>
</robot>
