<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dummy">
  <xacro:property name="description_package" value="dummy_description"/>
  <xacro:include filename="$(find ${description_package})/robot/dynamics/robot.xacro"/>
  <xacro:dummy_robot package="${description_package}"/>
  
</robot>
